/* init */
#root > div
{
  margin: 10px;
  padding: 20px 50px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px;
  width: 50%;
  display: inline-block;
}

.Card{
  width: 120px;
  box-sizing: border-box;
  height: 170px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 0px 10px 3px grey;
  display: inline-block;
  border-radius: 8px;
  margin-left: -40px;      /* Card overlaping effect */
  position: relative;
  margin-bottom:5px;
}


@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.cardRank{
  font-family: 'Oswald', cursive;
  padding: 2px;
  margin: 1px 1px 1px 1px;
  text-align: left;
  font-size: 25px;
  color: black;
}

.Joker, .hearts, .diams, .clubs, .spades {
  padding: 2px;
  margin: 1px 1px 1px 1px;
  text-align: center;
  font-size: 80px;
}

.hearts, .diams{
  color: red;
}

.clubs, .spades, .Joker{
  color: black;
}

h1 {
  text-align: center;
}

.selected {
  background-color: gray;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  border: none;
  display: inline-block;
  font-size: 16px;
  width: 20%;
  margin-left: 35%;
  margin-top: 10px;
}

button:hover {
  background-color: #3e8e41;
}

.Card:hover{
  z-index:1;
  border: 3px solid blue;
}

#centralStack div {
  background-image: linear-gradient(45deg, grey, white);
}