/* init */
#root > div
{
  margin: 10px;
  padding: 20px 50px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px;
}

.Card{
  cursor: pointer;
  width: 120px;
  box-sizing: border-box;
  height: 170px;
  padding: 10px;
  background-color: white;
  box-shadow: 2px 0px 10px 3px grey;
  display: inline-block;
  border-radius: 8px;
  margin-left: -12px;      /* Card overlaping effect */
  position: relative;
  margin-bottom:5px;
}

.Card:hover{
  z-index:1;
  border: 3px solid blue;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.cardRank{
  font-family: 'Oswald', cursive;
  padding: 2px;
  margin: 1px 1px 1px 1px;
  text-align: left;
  font-size: 25px;
  color: black;
}

.Joker, .hearts, .diams, .clubs, .spades {
  padding: 2px;
  margin: 1px 1px 1px 1px;
  text-align: center;
  font-size: 80px;
}

.hearts, .diams{
  color: red;
}

.clubs, .spades, .Joker{
  color: black;
}

#CentralStack > div{
  background-image: linear-gradient(45deg, grey, white)
}

.buttons, .checkButtons{
  display: block;
  background: #222;
  height: 40px;
  min-width: 150px;
  border-radius: 10px;
  border: solid white 2px;
  color: #eee;
  font-size: 20px;
  position: relative;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 5px;
  margin-bottom: 8px;
  margin-top: 2px;
  box-shadow: 0px 3px grey;
}

h1 {
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: #ffffff;
  top: 0;
  left: 100px;
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: auto; /* Could be more or less, depending on screen size */
}

h2 {
  text-align: center;
} 
