<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bluff</title>
</head>
<body>
    <div id = "root" style="padding-top:15%">
        <h1 style="margin-left:27%;margin-bottom:5%;">SIGN IN TO PLAY BLUFF</h1>
        <div class="col s12 m6 offset-m3 center-align">
            <a class="oauth-container btn darken-4 white black-text" href="/auth/google" style="text-transform:none;text-size-adjust: 10;">
                <div class="left">
                    <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                </div>
                Login with Google
            </a>
        </div>
        
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </div>
</body>
</div>
</html>