.active-card {
  border: medium solid blue !important;
  width: 120px !important;
  border-radius: 10px !important;
}

.active-card-holder {
  z-index: -1 !important;
  width: 25px !important;
}

.player-row {
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 40;
  overflow-x: hidden;
}

.info-column {
  padding: 0px 5px 0px 5px !important;
}

.your-column {
  padding: 0px 0px 0px 5px !important;
}

.game-bg{
  background-color: #E8E8E8 !important;
  z-index: -50;
  overflow-x: hidden;
  min-height: 100vh;
}

.card-row {
  width: 85% !important;
}

.card-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 38vh;
  min-height: 260px;
  background-color: #262626;
}

.card-holder {
  width: 20px;
  display: inline-block;
  z-index: 3;
}

.card-holder:hover {
  width: 25px;
}

.game-card{
  cursor: pointer !important;
  width: 100px;
  box-shadow: -3px 5px 14px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: -3px 5px 14px -6px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 5px 14px -6px rgba(0,0,0,0.75);
  z-index: 3;
}

.game-card:hover {
  border: medium solid red !important;
  border-radius: 10px;
}

.your-table {
  background-color: #1a1a1a;
  height: 45vh;
  min-height: 310px;
  border-radius: 5px;
  margin-bottom: 5px;
  z-index: -2;
}


.card-container::-webkit-scrollbar {
  width: 0.6em;
  border-radius: 5px !important;
}
 
.card-container::-webkit-scrollbar-track {
  background-color: #E8E8E8;
  border-radius: 5px !important;
}
 
.card-container::-webkit-scrollbar-thumb {
  background-color: #368dc6;
  border-radius: 5px !important;
}

.game-button {
  width: 100%;
  background-color: #9ad7ff !important;
  border-color: #9ad7ff !important;
  text-align: center !important;
  font-family: 'Ubuntu', sans-serif !important;
  color: #262626 !important;
  font-weight: 500 !important;
  font-size: 1.3em !important ;
  margin-bottom: 5px;
}

.game-button:hover {
  background-color: #368dc6 !important;
  border-color: #368dc6 !important;
}

.your-table-heading {
  font-family: 'Ubuntu', sans-serif !important;
  margin: 0px 0px 5px 10px;
  color: #E8E8E8;
}

.your-table-turn {
  color: #9ad7ff;
  font-size: 0.8em !important;
}

.left-stack-container {
  margin-top: 20px;
  width: 150px;
  position: relative;
  right: 50px;
  transform: rotate(90deg);
}

.right-stack-container {
  margin-top:20px;
  width: 150px;
  position: relative;
  left: 70px;
  transform: rotate(-90deg);
}

.modal-header {
  background-color: #262626 !important;
}

.modal-title {
  color: #9ad7ff !important;
  font-family: 'Ubuntu', sans-serif !important;
}

.modal-body {
  background-color: #E8E8E8 !important;
}

.modal-button {
  margin-top: 10px;
  background-color: #9ad7ff !important;
  font-family: 'Ubuntu', sans-serif !important;
  color: #262626 !important;
  border-width: 0px !important;
  font-weight: 400 !important;
  font-size: 1.1em !important;
}

.modal-button:hover {
  background-color: #368dc6 !important;
}

.modal-select {
  border-width: 0px !important;
}

.card-zone {
  overflow-y: auto;
  overflow-x: hidden;
  height: 55vh;
  min-height: calc(100vh - 310px);
}

.card-zone::-webkit-scrollbar {
  width: 0.6em;
  border-radius: 5px !important;
}
 
.card-zone::-webkit-scrollbar-track {
  background-color: #E8E8E8;
  border-radius: 5px !important;
}
 
.card-zone::-webkit-scrollbar-thumb {
  background-color: #368dc6;
  border-radius: 5px !important;
}
