.active-card {
  border: medium solid blue !important;
  position: relative;
  bottom: 20px;
}

.game-card{
  cursor: pointer !important;
}

.game-card:hover {
  /* border-color: red !important;
  border-width: 5px !important;
  border-style: solid !important; */
  border: medium solid red !important;
}