.lobby-room-label {
  font-family: 'Ubuntu', sans-serif;
  color: #42aff4;
}

.lobby-playerbox-label {
  font-family: 'Ubuntu', sans-serif;
  color: #9ad7ff;
}

.lobby-player-names {
  color: #ffffff;
  font-family: 'Ubuntu', sans-serif;
}